@import "tailwindcss";

@theme {
  /* Primary color (deepest blue) */
  --color-primary: #03045e;       /* darkest shade */

  /* Secondary colors (lighter shades of blue/cyan) */
  --color-secondary: #0077b6;     /* medium-dark */
  --color-secondary-mid: #0096c7; /* medium */
  --color-secondary-light: #48cae4; /* light */
  --color-secondary-super-light: #caf0f8; /* very light */
}
